<h1>Contest Judges:</h1>
<h3>  Judge Name Organization </h3>
<% @judges.each do |j| %>
    <%= j.id %>. <%= j.last_name %>, <%= j.first_name %>
    <%= j.organization %><br>
<% end %>

<%= button_to "Home", '/welcome', method: :get %>