<h1>Sign Up</h1>

<% if @judge.errors.any? %>
    <% @judge.errors.full_messages.each do |mess| %>
    <li style="color: red"><%= mess %></li>
    <% end %>
    <% end %>

<%= form_for(@judge) do |f| %>

    <%= f.label :first_name %><br>

    <%= f.text_field :first_name %><br>

    <%= f.label :last_name %><br>

    <%= f.text_field :last_name %><br>

    <%= f.label :organization %><br>

    <%= f.text_field :organization %><br>
    
    <%= f.label :email %><br>

    <%= f.text_field :email %><br>

    <%= f.label :password %><br>

    <%= f.password_field :password %><br>

    <%= f.submit %>

    <%end%>
    <%= button_to "Home", '/welcome', method: :get %>