<h1>Players</h1>

<% @players.each do |p| %>
   <% p.total = p.total_score.inject(0,:+) %>
   <%end%>

<table border="1">
<tr>
   <td>Player Number</td>
   <td>First Name</td>
   <td>Last Name</td>
   <td>School</td>
   </tr>
<% @players.each do |p| %>
   <tr>
      <td><%= p.id %></td>
      <td><%= p.first_name %></td>
      <td><%= p.last_name %></td>
      <td><%= p.school %></td>
      </tr>
      <% end %>
   </table>
<%= button_to "Add Player", '/players/new', method: :get %>

<%= button_to "Home", '/welcome', method: :get %>
