<h1>Players</h1>

<%= form_tag(players_path method: :get) do %>
   School <%= text_field_tag :search, params[:search] %>
   <%= submit_tag 'Search' %>
<%end%>

<% @players.each do |p| %>
   <% p.total = p.total_score.inject(0,:+) %>
   <%end%>

<% @players.each do |p| %>
   <%= p.id %> <%= p.first_name %> <%= p.last_name %> <%= p.school %><br>
<%end%>

<%= button_to "Add Player", '/players/new', method: :get %>

<%= button_to "Home", '/welcome', method: :get %>
