<h1>Player Registration</h1>

<% if @player.errors.any? %>
    <% @player.errors.full_messages.each do |mess| %>
    <li style="color: red"><%= mess %></li>
    <% end %>
    <% end %>

<%= form_for(@player) do |f| %>

    <%= f.label :first_name %><br>

    <%= f.text_field :first_name %><br>

    <%= f.label :last_name %><br>

    <%= f.text_field :last_name %><br>

    <%= f.label :school %><br>

    <%= f.text_field :school %><br>
    
    <%= f.label :email %><br>

    <%= f.text_field :email %><br>

    <%= f.submit %>

    <%end%>
    <%= button_to "View Players", players_path, method: :get %>
    <%= button_to "Home", '/welcome', method: :get %>