<h1>Results!</h1>

<% @players.each do |p| %>
    <% p.total = p.total_score.inject(0,:+) %>
    <%end%>

    <% @players.each do |p| %>
        <%= p.id %> <%= p.first_name %> <%= p.last_name %> <%= p.school %> <%= p.letter %> <% p.scores.each do |s| %> <%= s.amount %> <%end %><br>
           Total: <%= p.total %><br><br>
     <%end%>
     
     <%= button_to "Home", '/welcome', method: :get %>