<h1>Results!</h1>

<% @players.each do |p| %>
    <% p.total = p.total_score.inject(0,:+) %>
    <%end%>

     <table border="1">
<tr>
   <td>Player Number</td>
   <td>First Name</td>
   <td>Last Name</td>
   <td>School</td>
   <td>Score Total</td>
   </tr>
<% @players.total_exists.each do |p| %>
   <tr>
      <td><%= p.id %></td>
      <td><%= p.first_name %></td>
      <td><%= p.last_name %></td>
      <td><%= p.school %></td>
      <td><%= p.total %></td>
      </tr>
      <% end %>
   </table>
     
     <%= button_to "Home", '/welcome', method: :get %>